* {
    margin: 0;
    padding: 0;
    background-color: rgb(54, 53, 53);
}

#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#decreaseBtn {
    background-color: red;
}

#resetBtn {
    background-color: blue;
}

#increaseBtn {
    background-color: green;
}

#decreaseBtn:hover, #resetBtn:hover, #increaseBtn:hover {
    background-color: black;
    transition: 0.25s;
}
