body{
    background-image: url(castel1.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family: monospace;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
}

